<!DOCTYPE html>
<html>
  <head>
    <title>SteamMEX | Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
 
    <!-- jQuery insert -->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <body>
    <% include links %>

    <div id="divListings">
      <ul id="ulItemList">
      </ul>
    </div>


    <script type="text/javascript" src="/javascripts/index.js"></script>
  </body>
</html>
