<!DOCTYPE html>
<html>
  <head>
    <title>SteamMEX | Market</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
 
    <!-- jQuery insert -->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <body>
    <% include links %>


    <script type="text/javascript" src="/javascripts/global.js"></script>
  </body>
</html>
